
NODE_ENV=development
PORT=3001
CLIENT_ORIGIN=http://localhost:3000

# Neon Postgres
DATABASE_URL=postgresql://neondb_owner:npg_thQ2gY8MWIVb@ep-royal-lake-aq03xi3j.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require

# Clerk Auth
CLERK_SECRET_KEY=sk_test_hyWBuGd7RR8gfMwozJWXOKPAPb3WMHVxXcGIS2b3Lo
CLERK_PUBLISHABLE_KEY=pk_test_bG92aW5nLXRlcm1pdGUtNDkuY2xlcmsuYWNjb3VudHMuZGV2JA

AUTH_COOKIE_NAME=lumi_access_token

# Trial/license
TRIAL_DAYS=365
DEFAULT_PLAN_CODE=free

# Payment placeholder
PAYMENT_PROVIDER=manual
PAYMENT_RETURN_URL=http://localhost:3000/settings/license
PAYMENT_WEBHOOK_SECRET=change_me


NODE_INTERNAL_API_KEY=change_me
PYTHON_COLLECTOR_BASE_URL=http://localhost:8765
COLLECTOR_CONTROL_API_KEY=change_me

# Redis / worker
ENABLE_REDIS=false
REDIS_URL=redis://localhost:6379
OPEN_API_GHTK=https://services-staging.ghtklab.com
API_TOKEN_GHTK=457caTAOkk5oGH6Pn9XXcLcBIvxkTerMRjpa4IH
GHTK_PARTNER_CODE=S23120521
